 <div class="navbar">
      <div class="header">
        <a href="/"><img
          
          class="logo"
          src="https://cdn.shopify.com/s/files/1/0415/0548/9058/files/Logo__theskinstore.in_Logo_2-02_200x@2x.png?v=1606890994"
          alt=""
        /></a>
        
        <input class="search" type="text" placeholder="Search..." />
        <button class="btn" type="submit"><i class="fa fa-search"></i></button>
        <div class="login hoverDiv">
          <span class="loginSignup"><a class="loginSignup" href="/signup" >Login & Signup</a></span>
          <br />
          <a class="myaccount" href="">My account</a>
        </div>
   
        <div class="line"></div>
        <div  class="cartPart"><a class="cartPart" href="/basket">
          <img src="https://www.linkpicture.com/q/ab_1.png" />
          <p>Cart</p></a>
        </div>


      </div>
      <div class="navBottom_links">
        <div class="links">
          <li><a class="men" href="">SKIN</a></li>
          <!-- HOVER START -->
          <div class="men-modal">
            <div class="category"></div>
            <div class="cat-min">
              <div class="cat-1">
                <h3>FACE</h3>
                <br />
                <p><a href="/product">BRIGHTENING LOTION</a></p>
                <p>FACIAL CLEANSER</p>
                <p>CREAMS</p>
                <p>DECOLLETE & NECK CREAM</p>
                <p>FACE MOISTURIZER</p>
                <p>LOTION</p>
                <p>MASKS</p>
                <p>MOISTURIZER</p>
                <p>SCRUB & EXFOLIATORS</p>
                <p>SERUMS</p>
                <p>SUNSCREENS</p>
                <p>TONER & ASTRINGENTS</p>
              </div>
              <div class="cat-2">
                <h3>BODY</h3>
                <br />
                <p>BODY LOTION</p>
                <p>BODY MASSAGE OIL</p>
                <p>BODY MOISTURIZER</p>
                <p>BODY OIL</p>
                <p>BODY WASH</p>
                <p>CREAMS</p>
                <p>LOTION</p>
              </div>
              <div class="cat-3">
                <h3>EYE</h3>
                <br />
                <p>
                  <a>EYE CONTOUR CARE</a>
                </p>
                <p>EYE CREAM</p>
                <p>EYE MASKS</p>
                <p>EYE SERUMS</p>
                <p>UNDER EYE CREAMS</p>
                <p>UNDER EYE WRINKLES</p>
              </div>
              <div class="cat-4">
                <h3>SUNSCREENS</h3>
                <br />
                <p>EMULSION</p>
                <p>FLUID</p>
                <p>GEL</p>
                <p>LOTION</p>
                <p>SPRAY</p>
              </div>
              <div class="cat-5">
                <h3>HAND, NAIL & FOOT</h3>
                <br />
                <p>FOOT CREAMS</p>
                <p>HAND CREAMS</p>
                <p>MASKS</p>
              </div>
              <div class="cat-6">
                <h3>LIPS</h3>
                <br />
                <p>CREAMS</p>
                <p>LIP BALMS</p>
              </div>
            </div>
          </div>
          <!-- HOVER END -->
          <li><a href="">HAIR</a></li>
          <li><a href="">MAKEUP</a></li>
          <li><a href="">PERSONAL CARE</a></li>
          <li><a href="">BABY & MOM</a></li>
          <li><a href="">HOUSEHOLD SUPPLIES</a></li>
          <li><a href="">BRANDS</a></li>
          <li><a href="">YOUR CONCERN</a></li>
          <li><a href="">WISHLIST</a></li>
          <li><a href="">REWARDS</a></li>
        </div>
      </div>
    </div>