<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Address Page</title>
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/addressPage.css" />
  </head>
  <body>
<div class="navbar">
      <div class="header">
        <a href="/"><img
          
          class="logo"
          src="https://cdn.shopify.com/s/files/1/0415/0548/9058/files/Logo__theskinstore.in_Logo_2-02_200x@2x.png?v=1606890994"
          alt=""
        /></a>
        
        <input class="search" type="text" placeholder="Search..." />
        <button class="btn" type="submit"><i class="fa fa-search"></i></button>
        <div class="login hoverDiv">
          <span class="loginSignup"><a class="loginSignup" href="/signup" >Login & Signup</a></span>
          <br />
          <a class="myaccount" href="">My account</a>
        </div>
    
        <div class="line"></div>
        <div  class="cartPart"><a class="cartPart" href="/basket">
          <img src="https://www.linkpicture.com/q/ab_1.png" />
          <p>Cart</p></a>
        </div>


      </div>
      <div class="navBottom_links">
        <div class="links">
          <li><a class="men" href="">SKIN</a></li>
          <!-- HOVER START -->
          <div class="men-modal">
            <div class="category"></div>
            <div class="cat-min">
              <div class="cat-1">
                <h3>FACE</h3>
                <br />
                <p><a href="/product">BRIGHTENING LOTION</a></p>
                <p>FACIAL CLEANSER</p>
                <p>CREAMS</p>
                <p>DECOLLETE & NECK CREAM</p>
                <p>FACE MOISTURIZER</p>
                <p>LOTION</p>
                <p>MASKS</p>
                <p>MOISTURIZER</p>
                <p>SCRUB & EXFOLIATORS</p>
                <p>SERUMS</p>
                <p>SUNSCREENS</p>
                <p>TONER & ASTRINGENTS</p>
              </div>
              <div class="cat-2">
                <h3>BODY</h3>
                <br />
                <p>BODY LOTION</p>
                <p>BODY MASSAGE OIL</p>
                <p>BODY MOISTURIZER</p>
                <p>BODY OIL</p>
                <p>BODY WASH</p>
                <p>CREAMS</p>
                <p>LOTION</p>
              </div>
              <div class="cat-3">
                <h3>EYE</h3>
                <br />
                <p>
                  <a>EYE CONTOUR CARE</a>
                </p>
                <p>EYE CREAM</p>
                <p>EYE MASKS</p>
                <p>EYE SERUMS</p>
                <p>UNDER EYE CREAMS</p>
                <p>UNDER EYE WRINKLES</p>
              </div>
              <div class="cat-4">
                <h3>SUNSCREENS</h3>
                <br />
                <p>EMULSION</p>
                <p>FLUID</p>
                <p>GEL</p>
                <p>LOTION</p>
                <p>SPRAY</p>
              </div>
              <div class="cat-5">
                <h3>HAND, NAIL & FOOT</h3>
                <br />
                <p>FOOT CREAMS</p>
                <p>HAND CREAMS</p>
                <p>MASKS</p>
              </div>
              <div class="cat-6">
                <h3>LIPS</h3>
                <br />
                <p>CREAMS</p>
                <p>LIP BALMS</p>
              </div>
            </div>
          </div>
          <!-- HOVER END -->
          <li><a href="">HAIR</a></li>
          <li><a href="">MAKEUP</a></li>
          <li><a href="">PERSONAL CARE</a></li>
          <li><a href="">BABY & MOM</a></li>
          <li><a href="">HOUSEHOLD SUPPLIES</a></li>
          <li><a href="">BRANDS</a></li>
          <li><a href="">YOUR CONCERN</a></li>
          <li><a href="">WISHLIST</a></li>
          <li><a href="">REWARDS</a></li>
        </div>
      </div>
    </div>

  <!-- ----------------- -->
    <div class="left">
      <img
        class="logopayment"
        src="https://cdn.shopify.com/s/files/1/0415/0548/9058/files/Logo__theskinstore.in_Logo_2-01.png?554"
        alt=""
      />
      <div class="address">
        <div>
          <p class="contact">Contact</p>
          <p class="contactno">+919505885767</p>
          <a class="change" href="">Change</a>
        </div>
        <div>
          <p class="ship">Ship to</p>
          <p class="shipto">
            H.No: 9-32, Hanuman Nagar, Near Market, 505331<br />MogilipetTS,
            India
          </p>
          <a class="change" href="">Change</a>
        </div>
      </div>
      <p class="shipmethod">Shipping method</p>
      <div class="method">
        <p class="below">Natioanl Below Rs. 500</p>
        <p class="rs50">Rs. 50</p>
      </div>
      <button  class="continue"><a class="continuepay" href="/thankyou">Continue payment</a></button>
    </div>
 
     <div class="left">
      

      <div class="paymentship">
        <p class="payment1">Payment</p>
        <p>All transactions are secure and encrypted.</p>
        <div class="paymentmethods">
          <input type="radio" id="olamoney" value="ola" />
          <label class="pay" for="credit"> Credit card</label>
          <div class="carddetails">
            <input class="cardinput" type="number" placeholder="Card number" />
            <input class="cardinput" type="text" placeholder="Name on card" />
            <input class="expiry" type="text" placeholder="Expiration date" />
            <input
              class="expiry security"
              type="number"
              placeholder="Security code"
            />
          </div>
          <input type="radio" id="razor" value="ola" />
          <label class="pay" for="credit"
            >Razorpay (Cards, UPI, NetBanking, Wallets)</label
          >
          <br />
          <br />
          <hr />
          <br />
          <input type="radio" id="cod" value="ola" />
          <label class="pay" for="credit">Cash on Delivery</label>
        </div>
        <br />
      </div>
    </div>
    <img class="footer" src="https://www.linkpicture.com/q/footer.jpg" alt="">
  </body>
</html>
<script src="/scripts/addressPage.js"></script>
