  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .header {
      background-color: #332f34;
      height: 100px;
      display: flex;
      align-items: center;
  }

  .logo {
      width: 200px;
      height: 65px;
      margin-top: 4px;
      margin-left: 70px;
      float: left;
      /* border: 1px solid blue; */
  }

  .search {
      width: 814px;
      height: 45px;
      margin-top: 5px;
      margin-left: 25px;
      font-size: 15px;
      padding-left: 20px;
      border-radius: 5px;
  }

  .btn {
      float: left;
      width: 50px;
      height: 43px;
      margin-top: 5px;
      background: #efc991;
      color: white;
      font-size: 20px;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
  }

  .homePageNavigation>img:hover {
      cursor: pointer;
  }

  .loginSignup {
      color: #efc991;
      font-size: 12px;
      /* background-color: #fff; */
      float: left;
      margin-bottom: 0%;
      text-decoration: none;
  margin-left: 13px;
      font-family: montserrat, sans-serif;
  }

  .myaccount {
      text-decoration: none;
      display: block;
      font-size: 16px;
      margin-top: 0;
      color: #efc991;
      /* width: 103px; */
      margin-left: 25px;
      /* height: 22px; */
      font-family: montserrat, sans-serif;
      background-color: transparent;
  }

  .navBottom_links li {
      display: inline;
      margin: 17px 20px 20px 20px;
      font-size: 14px;
      font-weight: 200;
  }

  .navBottom_links a {
      text-decoration: none;
      color: black;
  }

  .navBottom_links {
      display: flex;
      border: 1px solid rgb(158, 158, 158);
      height: 58px;
      font-size: 14px;
      font-family: montserrat, sans-serif;
  }

  .links {
      margin-left: 55px;
      margin-top: 17px;
  }

  /* HOVER START */
  .men-modal {
      display: none;
      height: 470px;
      width: 100%;
      position: fixed;
      font-family: montserrat sans-serif;
      z-index: 3;
      /* line-height: 2.5; */
      font-size: 13px;
      top: 150px;
      left: 0px;
      background-color: snow;
      border: 1px solid lightgray;
      color: #2c4159;
  }

  .men-modal h3 {
      margin-top: 15px;
  }

  .category>p {
      color: gray;
      margin: 15px 30px 0 20px;

  }

  .category>p:hover {
      cursor: pointer;
      text-decoration: underline;
  }

  .category>h4 {
      margin-top: 15px;
      margin-right: 20px;
  }

  .category>h4:hover {
      cursor: pointer;
      color: lightgray;
  }

  .cat-min {
      display: flex;
  }

  .cat-1,
  .cat-2,
  .cat-3,
  .cat-4,
  .cat-5,
  .cat-6 {
      margin-left: 7%;

  }

  .cat-1 p,
  .cat-2 p,
  .cat-3 p,
  .cat-4 p,
  .cat-5 p,
  .cat-6 p {
      line-height: 2.5
  }

  .cat-1>p:hover,
  .cat-2>p:hover,
  .cat-3>p:hover,
  .cat-4>p:hover,
  .cat-5>p:hover,
  .cat-6>p:hover {
      cursor: pointer;
      text-decoration: underline;
  }


  .men {
      margin-top: 10px;
      margin-left: 35px;
      color: rgb(51, 51, 51);
      text-decoration: none;
  }

  .men:hover {
      cursor: pointer;
      border-bottom: 2px solid black;
      font-size: 0.95rem;

  }

  /* LOGIN & SIGNUP START */
  .line {
      width: 0.2px;
      height: 30px;
      background-color: #fae1ba;
      margin-left: 28px;
  }

  .cartPart {
      color: #efc991;
      font-size: 16px;
      font-family: montserrat, sans-serif;
      display: flex;
      flex-direction: row;
      margin-left: 0px;
      display:none;
  }

  .cartPart:hover {
      cursor: pointer;
  }

  .cartPart>img {
      width: 30px;
      height: 30px;

  }

  .cartPart>p {
      margin-left: 17px;
      margin-top: 10px;
  }

  /* HOVER END */


  .mycart {

      font-size: 28px;
      margin-top: 30px;
      font-weight: 100;
      width:45% ;
      /* float:left; */
display:flex;
justify-content: space-between;
/* border:1px solid orange; */
      margin-left: 5%;
  }
    .shopMore {
        font-size: 16px;
        color: orange;
        margin-top: 1%;
        cursor: pointer;
    }


  .productimg {
      width: 80px;
      height: 90px;
      float: left;
  }

  #productCart {
      width: 45%;
      margin-left: 5%;
      /* border: 2px solid orange; */
      /* height: 400px; */
      float: left;
  }

  .productdiv {
      border: 1px solid rgb(196, 196, 196);
      padding: 30px;
      width: 100%;
      /* margin-left: 5%; */
      float: left;
      margin-top: 15px;

  }

#proRemove{
    float: right;
}

  .rs,
  #cart_count {
      font-size: 15px;
      font-weight: bold;
      margin-left: 12%;
      margin-top: 10px;
      color: rgb(88, 88, 88);
  }

  .productname {
      font-size: 15px;
      font-weight: bold;
      color: rgb(88, 88, 88);
      margin-left: 12%;
      margin-top: 20px;

  }


  .footer {
      width: 98%;
      margin-left: 2%;
      margin-top: 30px;
  }

  .right {
      margin-top: 1%;
      border: 2px solid rgb(238, 238, 238);
      float: right;
      margin-right: 18%;
      border-radius: 8px;
      width: 25%;
      padding: 15px;
  }


  hr {
      width: 95%;
      margin-left: 1%;
  }

  .coupon {
      height: 45px;
      border-radius: 5px;
      padding: 10px;
      width: 75%;
      border-color: #efc991;
  }
  .loginDivBox
  {
      color: white;
      font-size: 18px;
      float:right;
      margin-top:0%;
      margin-left: 30px;
      text-align: center;
      line-height:1.5;
  }
  #loginId{
      color: white;
  }

  .right button {
      height: 42px;
      border-radius: 5px;
      padding: 10px;
      width: 18%;
      background-color: black;
      color: white;
  }

  #checkout {
      width: 45%;
      margin-top: 15px;
      margin-bottom: 20px;
      margin-left: 25%;
      text-align: center;
      padding-right: 15px;
      background-color: black;
      color: white;
      font-size: 15px;
      letter-spacing: 1.5px;
      text-decoration: none;


  }

  .sub,.shipping {
      display: flex;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
      justify-content: space-between;
      padding: 0 15px 0px 15px;
  }

  .subtotal {
      margin-top: 20px;
      font-size: 20px;
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 15px 0px 15px;
  }